@import "palettes";
$header-height: 64px;

header.site-header {
  display: flex;
  align-items: center;

  width: 100%;
  height: $header-height;

  background: white;
  color: $colour-cold;
  font-size: 1.2rem;
  box-shadow: 0 0 5px 2px #e6e6e6;

  @media all and (max-width: 420px) {
    font-size: 1.0rem;
  }

  nav {
    margin: auto;
    align-self: center;

    ul {
      display: flex;
      align-items: center;

      margin: 0;
      width: auto;
      height: auto;

      list-style: none;
    }

    a {
      display: inline-block;

      padding: floor(($header-height - 27px) / 2) 8px;

      transition: color 0.5s;

      &:hover {
        color: $colour-cold-hover;
      }

      &.logo {
        margin: 0 auto;
        padding: floor(($header-height - 54px) / 2) 16px;
        width: 48px;
        height: 48px;

        background: url("/static/images/logo.svg") center no-repeat;
      }
    }
  }
}
